root = true

[*.cs]
indent_style = tab

# braces on same line
csharp_new_line_before_open_brace = false

# `else`, `catch` etc on same line as closing brace
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_while = false

# shut up collection expression
dotnet_style_prefer_collection_expression = never:none

# explicit type over `new()`
csharp_style_implicit_object_creation_when_type_is_apparent = false:warning

# PascalCase for public/internal/protected/protected internal
dotnet_naming_rule.public_internal_members_pascal.severity = suggestion
dotnet_naming_rule.public_internal_members_pascal.symbols = public_internal_members
dotnet_naming_rule.public_internal_members_pascal.style = pascal_case

dotnet_naming_symbols.public_internal_members.applicable_kinds = method, property, field, event
dotnet_naming_symbols.public_internal_members.applicable_accessibilities = public, internal, protected, protected_internal
dotnet_naming_symbols.public_internal_members.required_modifiers =

dotnet_naming_style.pascal_case.capitalization = pascal_case

# camelCase for private/private protected
dotnet_naming_rule.private_members_camel.severity = suggestion
dotnet_naming_rule.private_members_camel.symbols = private_members
dotnet_naming_rule.private_members_camel.style = camel_case

dotnet_naming_symbols.private_members.applicable_kinds = method, property, field, event
dotnet_naming_symbols.private_members.applicable_accessibilities = private, private_protected
dotnet_naming_symbols.private_members.required_modifiers =

dotnet_naming_style.camel_case.capitalization = camel_case


